<div style="text-align:center">
  <h1>About the Project</h1>
</div>
<p>
  The purpose of this website is to provide a searchable resources 
  of books for both pleasure and educational reading with diverse representation 
  of both authors and subject matter.
   We want potential users to be able to find the titles they're looking for 
   with ease and be linked onward to find more information. 
   There should be a place to highlight curated recommendation lists 
   as well as a place to link to other resources.
</p>
