<div style="text-align:center">
  <h1>About the Project</h1>
</div>
<!--This is the forward facing about Intersectional Bookshelf-->
<div>
 <p>Intersectional Bookshelf is a place to find books that are by and/or about marginalized voices. This is not a database of books about Intersectionality (although there is a list of those) - it is a resource for finding your next book, whatever kind you want, but featuring at least one marginalized perspective (Ex: a romance novel with a lesbian couple, a kids sci-fi book that deals with a physical disability, a YA fantasy adventure featuring people of color, etc.). </p>
 <p>There are great places on the internet making wonderful, diverse, and very specific booklists, but you almost need to know what you’re searching for before you find it. The goal of Intersectional Bookshelf is to be a centralized hub for these lists, and to be a place to poke around, browse, and discover something new you didn’t even know you needed to read.</p>
 <p>Not all of these books will be intersectional or feminist masterpieces, but they will each represent one or (ideally) more marginalized, oppressed, or underrepresented perspectives. This is, and probably always will be, a work in progress. New books and better books come out every day. If you know of a book that fits on our bookshelf or you think one should be weeded, please politely submit your input.</p>
 <p>Thanks for stopping by!</p>
 <p><i>Note: <strong>Intersectionality</strong> is a concept used to describe how different systemic, oppressive forces (racism, sexism, homophobia, transphobia, fatphobia, ableism, xenophobia, classism, etc.) interact with one another and the impossibility of approaching a discussion of one without engaging with others. The term was coined by legal scholar Kimberlé Crenshaw in 1989 and is commonly associated with feminist theory i.e. Intersectional Feminism. If you are interested in learning more, check out the Intersectionality tag.</i></p>
</div>

