<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>

<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<md-card>
  <button md-button routerLink="about">About</button>
  <button md-button routerLink="curated-list">Curated List</button>
  <button md-button routerLink="curated-list">Curated List</button>
  <button md-button routerLink="submit-button">Suggest a Book</button>
  <button md-button routerLink="search-bar">Search for a Book</button>
</md-card>
<app-search-bar></app-search-bar>
<router-outlet></router-outlet>